* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
  }
  

body{
    background: linear-gradient(to right, rgb(172, 34, 138), rgb(0, 179, 255));
}


#texto {
    font-family: "Helvetica Neue", Arial, sans-serif;
  }

.container {
    width: 75vw;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
}